

.navbar{
	border-radius: 0px;
}

.navbar-brand{
  font-size: 25px;
}

.navbar-nav{
  font-size: 25px;
  float: right;
  margin-right: 30%;
}


.main-title{
  margin-bottom: 15px;
  text-align: center;
  color: #ff4532;
  font-size: 50px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
}


.row{
	margin: 20px;
}

.content-box{
	margin: 20px;
	width: auto;
	height: auto;
	color: black;
	background-color: rgba(0,0,0,0.2);
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding: 20px;
}

.item-name{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

#top{

}